// Specific CSS for your home-page
.home-how-it-works {
  text-align: center;
}

.home-section {
  position: relative;
  padding: 85px 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.home-hiw-row {
  margin: 50px auto;
  font-family: Open Sans,sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  padding-left: 0;
  list-style: none;
}

.home-hiw-row li {
  padding: 0 50px;
}

.home-bullet-point-1, .home-bullet-point-2, .home-bullet-point-3 {
  position: relative;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-white {
  color:aliceblue
}
