<div class="home-banner">
  <div class="container">
    <h1>Babá Express<strong> a melhor plataforma</strong> para te ajudar <strong> no sufoco</strong>!</h1>
    <p>Encontre alguém de confianca para cuidar de seus pequenos</p>
  </div>
</div>

<div class="container pt-3">

  <!-- Carousel-->
  <!--
  <section class="home-section home-how-it-works">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://images.unsplash.com/photo-1476703993599-0035a21b17a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1589169011402-8b2cbd1ee593?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=921&q=80" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://media.istockphoto.com/photos/mom-is-a-special-person-picture-id1157922555?k=20&m=1157922555&s=612x612&w=0&h=95FygDizLB9eut2YTEzzUemQbRtkxqX7GOXsjffODwo=" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  -->

  <!--
  <div class="card-product pt-3">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Laura</h2>
      <p><strong>São Paulo</strong></p>
      <p>Minha vida ficou muito mais facil com a <strong>Babá Express</strong> hoje consigo fazer as minhas programações sem me preocupar...</p>
    </div>
  </div>
  -->

  <!-- cards - depoimento de usuários-->
  <section class="home-section home-how-it-works">
    <h2>Veja o depoimento de alguns dos nossos usuários:</h2>
    <p class="lead">Vamos ajudar você a encontrar a melhor babá para sua família.</p>
    <div class="row">
      <div class="col-3">
        <div class="card-trip">
          <img src= 'https://images.unsplash.com/photo-1476703993599-0035a21b17a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80' />
          <div class="card-trip-infos">
            <div>
              <h2>Laura</h2>
              <p class="city mt-2">Minha vida ficou muito mais facil com a <strong>Babá Express</strong> hoje consigo fazer as minhas programações sem me preocupar...</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card-trip">
          <img src= 'https://images.unsplash.com/photo-1476703993599-0035a21b17a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80' />
          <div class="card-trip-infos">
            <div>
              <h2>Laura</h2>
              <p class="city mt-2">Minha vida ficou muito mais facil com a <strong>Babá Express</strong> hoje consigo fazer as minhas programações sem me preocupar...</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card-trip">
          <img src= 'https://images.unsplash.com/photo-1476703993599-0035a21b17a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80' />
          <div class="card-trip-infos">
            <div>
              <h2>Laura</h2>
              <p class="city mt-2">Minha vida ficou muito mais facil com a <strong>Babá Express</strong> hoje consigo fazer as minhas programações sem me preocupar...</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card-trip">
          <img src= 'https://images.unsplash.com/photo-1476703993599-0035a21b17a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80' />
          <div class="card-trip-infos">
            <div>
              <h2>Laura</h2>
              <p class="city mt-2">Minha vida ficou muito mais facil com a <strong>Babá Express</strong> hoje consigo fazer as minhas programações sem me preocupar...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- cards - depoimento de usuários (2o jeito) -->
  <!--
  <div class="cards">
    <div class="card-trip">
      <img src= 'https://images.unsplash.com/photo-1476703993599-0035a21b17a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80' />
      <div class="card-trip-infos">
        <div>
           <h2>Laura</h2>
           <p class="city mt-2">Minha vida ficou muito mais facil com a <strong>Babá Express</strong> hoje consigo fazer as minhas programações sem me preocupar...</p>
        </div>
      </div>
    </div>

    <div class="card-trip">
      <img src= 'https://images.unsplash.com/photo-1476703993599-0035a21b17a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80' />
      <div class="card-trip-infos">
        <div>
           <h2>Laura</h2>
           <p class="city mt-2">Minha vida ficou muito mais facil com a <strong>Babá Express</strong> hoje consigo fazer as minhas programações sem me preocupar...</p>
        </div>
      </div>
    </div>

    <div class="card-trip">
      <img src= 'https://images.unsplash.com/photo-1476703993599-0035a21b17a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80' />
      <div class="card-trip-infos">
        <div>
           <h2>Laura</h2>
           <p class="city mt-2">Minha vida ficou muito mais facil com a <strong>Babá Express</strong> hoje consigo fazer as minhas programações sem me preocupar...</p>
        </div>
      </div>
    </div>

    <div class="card-trip">
      <img src= 'https://images.unsplash.com/photo-1476703993599-0035a21b17a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80' />
      <div class="card-trip-infos">
        <div>
           <h2>Laura</h2>
           <p class="city mt-2">Minha vida ficou muito mais facil com a <strong>Babá Express</strong> hoje consigo fazer as minhas programações sem me preocupar...</p>
        </div>
      </div>
    </div>
  </div>
  -->



  <section class="home-section home-how-it-works">
    <div class="container">
      <h2>Encontre uma babá ou vaga de babá:</h2>
      <p class="lead">Vamos ajudar você a encontrar a melhor babá para sua família.</p>
      <ol class="row home-hiw-row pt-3">
        <li class="col-sm-4">
          <picture>
            <source data-srcset="https://cdn.sitly.com/desktop-frontend/images/hiw-1.webp, https://cdn.sitly.com/desktop-frontend/images/hiw-1@2x.webp 2x" type="image/webp" srcset="https://cdn.sitly.com/desktop-frontend/images/hiw-1.webp, https://cdn.sitly.com/desktop-frontend/images/hiw-1@2x.webp 2x">
            <source data-srcset="https://cdn.sitly.com/desktop-frontend/images/hiw-1.png, https://cdn.sitly.com/desktop-frontend/images/hiw-1@2x.png 2x" type="image/png" srcset="https://cdn.sitly.com/desktop-frontend/images/hiw-1.png, https://cdn.sitly.com/desktop-frontend/images/hiw-1@2x.png 2x">
            <img class=" lazyloaded" data-src="https://cdn.sitly.com/desktop-frontend/images/hiw-1.png" alt="Passo 1" src="https://cdn.sitly.com/desktop-frontend/images/hiw-1.png">
          </picture>
          <p class="home-bullet-point-1 pt-3">Digite seus critérios de pesquisa e encontre babás na sua região.</p>
        </li>
        <li class="col-sm-4">
          <picture>
            <source data-srcset="https://cdn.sitly.com/desktop-frontend/images/hiw-2.webp, https://cdn.sitly.com/desktop-frontend/images/hiw-2@2x.webp 2x" type="image/webp" srcset="https://cdn.sitly.com/desktop-frontend/images/hiw-2.webp, https://cdn.sitly.com/desktop-frontend/images/hiw-2@2x.webp 2x">
            <source data-srcset="https://cdn.sitly.com/desktop-frontend/images/hiw-2.png, https://cdn.sitly.com/desktop-frontend/images/hiw-2@2x.png 2x" type="image/png" srcset="https://cdn.sitly.com/desktop-frontend/images/hiw-2.png, https://cdn.sitly.com/desktop-frontend/images/hiw-2@2x.png 2x">
            <img class=" lazyloaded" data-src="https://cdn.sitly.com/desktop-frontend/images/hiw-2.png" alt="Passo 2" src="https://cdn.sitly.com/desktop-frontend/images/hiw-2.png">
          </picture>
          <p class="home-bullet-point-2 pt-3">Veja o perfil para ler sobre sua experiência, referências, disponibilidade e mais.</p>
        </li>

        <li class="col-sm-4">
          <picture>
            <source data-srcset="https://cdn.sitly.com/desktop-frontend/images/hiw-3.webp, https://cdn.sitly.com/desktop-frontend/images/hiw-3@2x.webp 2x" type="image/webp" srcset="https://cdn.sitly.com/desktop-frontend/images/hiw-3.webp, https://cdn.sitly.com/desktop-frontend/images/hiw-3@2x.webp 2x">
            <source data-srcset="https://cdn.sitly.com/desktop-frontend/images/hiw-3.png, https://cdn.sitly.com/desktop-frontend/images/hiw-3@2x.png 2x" type="image/png" srcset="https://cdn.sitly.com/desktop-frontend/images/hiw-3.png, https://cdn.sitly.com/desktop-frontend/images/hiw-3@2x.png 2x">
            <img class=" lazyloaded" data-src="https://cdn.sitly.com/desktop-frontend/images/hiw-3.png" alt="Passo 3" src="https://cdn.sitly.com/desktop-frontend/images/hiw-3.png">
          </picture>
          <p class="home-bullet-point-3 pt-3">Conversem e marquem uma entrevista.</p>
        </li>
      </ol>
    </div>
  </section>


</div>
