<h1> Services Nannys </h1>
<div class="container">
<p> <% @service_nannies.each do |nanny| %> </p>
  <p>Nanny</p>
  <p><% @find = User.find(nanny.user_id) %></p>
  <p><%= @find.email %></p>
  <p><%= nanny.user_id %></p>
  <p>Price: <%= nanny.price %></p>
  <%= link_to 'Show Nanny', service_nanny_path(nanny.user_id) %>
<p><% end %></p>

</div>
