<% @nanny = User.find(@service_nanny.user_id) %>

<div class="container">
<h1><%= @nanny.name %></h1>

<p><%= @service_nanny.price %></p>


<%= link_to 'Agendar', new_service_nanny_booking_path(@service_nanny) %>
</div>
