<div class="container mt-5">
    <div class="row bg-light">
      <div class="col-md-12">
      <% @nanny = User.find(@service_nanny.user_id) %>

      <div class="container p-5" style="height: 300px">
      <h1><%= @nanny.name %></h1>
      <h2><%= @nanny.description %></h2>
      <p> R$ <%= @service_nanny.price %></p>
      <%= link_to 'Agendar', new_service_nanny_booking_path(@service_nanny), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
